<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Parameter configuration</comment>

<!-- 表示本地搜索服务器LS的编号（从0开始） -->
<entry key="slice">0</entry>

<!-- 总的本地搜索服务器LS的数量 -->
<entry key="isNum">1</entry>

<!-- 索引分块（目录）存放数量（可提交I/O读写效率） -->
<entry key="partNo">1</entry>

<!-- 本地搜索服务器LS的IP地址集（以逗号分割 ）-->
<entry key="ls_ips">10.3.254.83</entry>

<!-- 本地搜索服务器LS实时处理log的服务端口-->
<entry key="ls_log_master_port">6001</entry>

<!-- MSS服务器上处理log并发送给LS的服务端口-->
<entry key="ls_log_slave_port">9001</entry>

<!-- LS都监听在8001端口接收DS发送的查询关键字以及参数 -->
<entry key="ls_recive_ds_keywords">8001</entry>

<!-- DS都监听在5001端口接收LS在本地搜索返回的结果 -->
<entry key="ls_send_ds_result">5001</entry>

<!-- 创建XML时最大线程数 -->
<entry key="index_max_thread_num">10</entry>

<!-- 分布式搜索服务器DS的IP地址集 （以逗号分割）-->
<entry key="ds_ips">10.3.254.83</entry>

<!--存放index（按用户分类索引）和issue（分块复合索引） -->
<entry key="base_is_path">/data2/is/</entry>

<!--存放提供搜索的分块复合索引 -->
<entry key="base_ls_path">/data2/ls/</entry>

<!--存放提供搜索的分块复合索引（major库） -->
<entry key="ls_major_path">/data2/ls/major/</entry>

<!--存放提供搜索的分块复合索引（minor库） -->
<entry key="ls_minor_path">/data2/ls/minor/</entry>

<!-- 所有mss日志服务器上存放日志的位置 -->
<entry key="mss_logpath">/var/log/mss/</entry>

<!-- mss日志服务器上日志文件的后缀 -->
<entry key="log_suffix">_ACS.log</entry>

<entry key="loadToMem">false</entry>

<!-- 目前所有的端口号都写死在程序中 -->
<!-- LS都监听在6001端口接收mss日志-->
<!-- mss都监听在9001端口接收LS接收日志成功的返回信息 -->
<!-- LS都监听在8001端口接收DS发送的查询关键字以及参数 -->
<!-- DS都监听在5001端口接收LS在本地搜索返回的结果 -->
</properties>
